.form .form__group{
    margin: 10px 0px;
}

.form .form__story{
    background-color: #ffdd00;
    max-width: 400px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}